# Site Info
title:              "Guyskk的博客"
description:        "Guyskk的博客 | 聊技术，谈生活，分享我的作品"
encoding:           "utf-8"

# Author Info
author_name:        "guyskk"
author_email:       "guyskk@qq.com"
twitter_username:   "__guyskk__"

# Site Settings
baseurl:            "" # Base URL must end WITHOUT a slash, default: ""
rooturl:            "https://blog.guyskk.com"
permalink:          /notes/:title # Post permalink
timezone:           Asia/Shanghai # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Site Build
highlighter:        rouge
kramdown:
    input:          GFM
    hard_wrap: false
sass:
    style:          compressed

# Other Params
include:            [ "robots.txt" ]
exclude:            [
  "LICENSE", 
  "README.md", 
  "CNAME", 
  "vendor", 
  "Gemfile",
  "tmp",
  "node_modules",
  "package.json",
  "package-lock.json",
  "deploy.sh",
  "shows",
]
plugins:
  - jekyll-sitemap

compress_html:
    clippings:      all
    ingore:
        envs:       [ "test" ]

defaults:
  -
    scope:
      path:         ""
    values:
      layout:       "null"
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"
