---
layout: compress
---

<!DOCTYPE html>
<html lang="zh_CN">

	<head>
		{% include head.html %}
        <script type='text/javascript'>
	      var _vds = _vds || [];
	      window._vds = _vds;
	      (function(){
	        _vds.push(['setAccountId', 'ab9a44309a61485e']);
	        (function() {
	          var vds = document.createElement('script');
	          vds.type='text/javascript';
	          vds.async = true;
	          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
	          var s = document.getElementsByTagName('script')[0];
	          s.parentNode.insertBefore(vds, s);
	        })();
	      })();
	    </script>
	</head>

	<body>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}
		<p style="text-align:center;margin-top:80px;">
			<small>
				<span style="color:#666;">留言 - </span><a href="https://github.com/guyskk/guyskk.github.io/issues" target="_blank">Github Issues</a>
				<span style="color:#666;padding-left:1em;padding-right:1em;">|</span>
				<span style="color:#666;">订阅 - </span><a href="/feed.xml" target="_blank">RSS源</a>
      </small>
		</p>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-81677911-1', 'auto');
		ga('send', 'pageview');
		</script>
	</body>

</html>
