---
layout: compress
---

<!DOCTYPE html>
<html lang="zh_CN">

	<head>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}
		<p style="text-align:center;margin-top:80px;">
			<small>
				<span style="color:#666;">留言 - </span><a href="https://github.com/guyskk/guyskk.github.io/issues" target="_blank">GitHub Issues</a>
				<span style="color:#666;padding-left:1em;padding-right:1em;">|</span>
				<span style="color:#666;">订阅 - </span><a href="/feed.xml" target="_blank">RSS源</a>
				<span style="color:#666;padding-left:1em;padding-right:1em;">|</span><span style="color:#666;">联系 - </span><a href="/about" target="_blank">关于我</a>
      </small>
		</p>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-81677911-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-81677911-1');
		</script>
	</body>

</html>
